*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osc-font-smoothing: grayscale;
}

:root{
    --prim-color: #5eead4;
    --white-color: #fafafa;
}

li{
    list-style: none;
}


body{
    height: 100vh;

    background: url(../img/bg.jpg) no-repeat ;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Spectral', sans-serif;
    color: var(--white-color);
}

.main{
    text-align: center;
}

.main h1{
    font-size: 64px;
    font-family: 'Beth Ellen', sans-serif;
}

.main span{
    color: var(--prim-color);
}

.main p{
    font-size: 20px;
    padding-bottom: 72px;
}

.links{
    padding-bottom: 72px;
}

.links li {
    display: inline-block;
    margin: 0 0 0 15px;
}

.links a{
    font-size: 24px;
    text-decoration: none;
    color: var(--white-color);
    margin: 0 5px 0 5px;
    background-color: var(--prim-color);
    padding: 16px 32px;
    border-radius: 8px;
    transition: background .3s;
}

.links .btn-learn{
    background-color: transparent;
    text-decoration: underline;
}

.links .btn-recipes{
    color: #000;
}

.links .btn-learn:hover{
    color: #000;
    background-color: var(--prim-color);
    text-decoration: none;
}

.links .btn-recipes:hover{
    background-color: #a4f0e4;
}
